# 1 双向互信 ，2 单向互信
bothway="1"
# 1 更换 yum源为ali源，2 不更换yum源
aliyun="1"

# 以下参数，1为执行，2为不执行
#是否关闭防火墙
firewalldClose="1"

#是否关闭selinux
selinuxClose="1"

#是否配置ntp，与master服务器同步
ntpConfig="1"
masterip="192.168.1.117"
cluster_network="192.168.1.0/24"
#获取服务器哪个网卡的IP,多网卡的时候可能会出现IP互信找不到指定IP的情况，请根据IP填写需要互信的网卡
network_card="enp0s3"

# 是否对系统内核参数进行调优
ulimitConfig="1"

# 是否安装docker
dockerInstall="1"

# 过滤IP段
ip_segment="192.168.1"

root_passwd="root123."
hostname="test"
hostip=(
192.168.1.117
192.168.1.118
192.168.1.119
)